body {
  color: #4a4a4a;
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  letter-spacing: 0.3px;
  line-height: 1.5em;

  font-smoothing: antialiased;
}

h1 {
  font-family: "Ahkio-Regular", serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

h2 {
  font-family: "calibre-light", sans-serif;
  font-size: 36px;
  margin: 100px 0 50px;
}

h2 span {
  font-family: "Ahkio-regular";
  margin-right: 15px;
}

h3 {
  font-size: 15px;
  font-weight: 700;
  margin: 30px 0 15px;
}

h4 {
  font-family: "calibre-light";
  font-size: 24px;
  margin: 15px 0 15px 10px;
}

h5 {
  font-family: "Ahkio-regular";
  font-size: 23px;
}

p,
li {
  width: 60ch;
}

a {
  color: #fc6163;
  text-decoration: none;
}

a:hover,
a.active {
  border-bottom: 2px solid #fc6163;
  color: #fc6163;
  padding-bottom: 4px;
}

em {
  opacity: 0.5;
}

pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 95%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}

code,
.code-block {
  background-color: #f3f3f3;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  color: #9e9e9e;
  padding: 3px 9px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  width: fit-content;
}

.code-block {
  padding: 15px 20px;
}

date {
  opacity: 0.4;
  font-size: 1.3rem;
  padding: 0 .75rem;
}

.container {
  margin: 0 auto 200px;
  max-width: 1000px;
  position: relative;
}

.header {
  padding: 100px 0 25px;
}

.site-title::before {
  color: #fff0f1;
  content: "Type Tools – ARTG2251";
  font-size: 72px;
  left: -300px;
  position: absolute;
  top: 115px;
  z-index: -1;
}

.site-title-five-d::before {
  color: #fff0f1;
  content: "5D Tools – ARTF2224";
  font-size: 72px;
  left: -300px;
  position: absolute;
  top: 115px;
  z-index: -1;
}

.nav {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.nav-links {
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
  padding-right: 130px;
}

.nav-links a {
  list-style: none;
}

.nav-info {
  flex-grow: 1;
  text-align: right;
}

.evaluation {
  position: relative;
}

.percentages {
  background-color: #fb6264;
  border-radius: 150px;
  color: #fff;
  height: 210px;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 15px;
  width: 210px;
}

.percentages h4:first-child {
  margin-top: 50px;
}

.percentages h4 span {
  font-family: "Ahkio-regular";
  font-size: 36px;
}

.badge {
  left: -140px;
  position: absolute;
  top: 340px;
}

.final-project {
  background-color: #fff0f1;
  padding: 50px;
  margin: 100px 0px 50px -50px;
}

.final-project h2 {
  margin-top: 0px;
  color: #fb6264;
}

.hover-definition {
  border-bottom: 1px dashed black;
  opacity: 0.5;
}

.hover-show-definition {
  display: none;
}

.hover-definition:hover + .hover-show-definition {
  display: block;
}
