body {
  color: #4a4a4a;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 24px;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.content {
  background-color: #fdfbf8;
  padding: 50px 0;
}

h1 {
  font-family: "HelveticaNeue-CondensedBlack";
  font-size: 24px;
  letter-spacing: 1.33px;
  text-transform: uppercase;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 25px;
}

a {
  color: #4a4a4a;
  text-decoration: none;
}

a:hover,
a.active {
  border-bottom: 2px solid #4a4a4a;
}

.header {
  padding: 50px 0;
}

.nav {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.nav-links {
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
  padding-right: 200px;
}

.nav-links a {
  list-style: none;
}

.nav-info {
  flex-grow: 1;
  text-align: right;
}

.syllabus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.information {
  border-top: 2px solid;
  margin-bottom: 50px;
  width: 450px;
}

.information h2:before {
  content: "+";
  margin-left: -22px;
  margin-right: 10px;
}

.thick {
  border-top: 8px solid;
}

.red {
  border-color: #e46264;
}

.green {
  border-color: #84ae98;
}

.purple {
  border-color: #a8a3bb;
}

.orange {
  border-color: #f9966c;
}

.grading-percentages {
  display: flex;
  justify-content: space-evenly;
}

.percentage {
  text-align: center;
  width: 100px;
}

.percentage h1 {
  color: #8ab8c4;
  font-size: 36px;
}
